<div class="app-page workshop-page">
  <ui-page-title [title]="'workshop.title' | transloco">
    <span class="workshop-page__desktop-action">
      <normal-button type="button" variant="secondary" (clicked)="openMySubscriptions()">
        {{ 'workshop.mySubscriptions' | transloco }}
      </normal-button>
      <normal-button type="button" (clicked)="openMySessions()">
        {{ 'workshop.mySessions' | transloco }}
      </normal-button>
    </span>
  </ui-page-title>

  <div class="workshop-page__mobile-action">
    <normal-button type="button" variant="secondary" [fullWidth]="true" (clicked)="openMySubscriptions()">
      {{ 'workshop.mySubscriptions' | transloco }}
    </normal-button>
    <normal-button type="button" [fullWidth]="true" (clicked)="openMySessions()">
      {{ 'workshop.mySessions' | transloco }}
    </normal-button>
  </div>

  @if (errorMessage()) {
    <ui-alert variant="danger">{{ errorMessage() }}</ui-alert>
  }

  @if (!hasLoaded()) {
    <div class="app-muted">{{ 'workshop.loading' | transloco }}</div>
  } @else {
    <div class="workshop-page__body">
      <app-session-catalog
        [shares]="shares()"
        [busyShareId]="busyId()"
        (subscribe)="subscribe($event)"
      />
    </div>
  }

  @if (mySessionsOpen()) {
    <app-my-sessions
      [sessions]="ownSessions()"
      [busySessionId]="busyId()"
      (publish)="publish($event)"
      (publishUpdate)="publishUpdate($event)"
      (editDescription)="editDescription($event)"
      (unpublish)="unpublish($event)"
      (close)="closeMySessions()"
    />
  }

  @if (mySubscriptionsOpen()) {
    <app-my-subscriptions
      [sessions]="subscribedSessions()"
      [busySessionId]="busyId()"
      (update)="update($event)"
      (unsubscribe)="unsubscribe($event)"
      (close)="closeMySubscriptions()"
    />
  }

  <app-footer />
</div>
