
<ui-table-shell [maxHeight]="maxHeight()">
  <table class="app-table" [ngClass]="tableClass()">
    <colgroup>
      <col
        *ngFor="let column of columns()"
        [class]="column.className || null"
        [style.width]="column.width || null"
      />
    </colgroup>

    <thead>
      <tr>
        <th
          *ngFor="let column of columns()"
          [class]="column.className || null"
        >
          {{ column.label }}
        </th>
      </tr>
    </thead>

    <tbody>
      <ng-container
        *ngFor="let row of rows(); let i = index; trackBy: trackByInternal"
      >
        <ng-container
          *ngTemplateOutlet="
            rowTemplate || defaultRowTemplate;
            context: { $implicit: row, index: i }
          "
        />
      </ng-container>
    </tbody>
  </table>
</ui-table-shell>

<ng-template #defaultRowTemplate let-row>
  <tr>
    <td [attr.colspan]="columns().length">
      {{ row | json }}
    </td>
  </tr>
</ng-template>
