
<form class="app-form-stack" [formGroup]="form" (ngSubmit)="onSubmit()">
  <input
    class="visually-hidden"
    type="text"
    name="username"
    autocomplete="username"
    aria-label="Username"
    [value]="username()"
    readonly
    tabindex="-1"
  />

  <ui-form-field
    label="Current password"
    [error]="currentError()"
  >
    <ui-text-input formControlName="current" type="password" autocomplete="current-password" [maxLength]="passwordMaxLength" />
  </ui-form-field>

  <ui-form-field
    label="New password"
    [error]="newError()"
  >
    <ui-text-input formControlName="next" type="password" autocomplete="new-password" [maxLength]="passwordMaxLength" />
  </ui-form-field>

  <ui-form-actions>
    <normal-button
      type="submit"
      [disabled]="form.invalid || isSubmitting()"
      [loading]="isSubmitting()"
    >
      {{ isSubmitting() ? 'Saving...' : 'Change password' }}
    </normal-button>
  </ui-form-actions>
</form>
